.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.sectionTitle{
	font-size: 30px;
	font-weight: 600;
}

.layout{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.productsList{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 786px;
    gap: 15px;
    margin-bottom: 50px;
}
