.shadow {
	height: 50px;
	width: 100%;
	box-shadow: 0px -42px 36px 4px rgba(0,0,0,0.67);
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
	padding: 0 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.sectionTitle{
	font-size: 30px;
	font-weight: 600;
}

.layout{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
	padding: 0 0.6rem;
    display: flex;
    justify-content: space-between;
	gap: 15px;
}

.productsList{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
    max-width: 786px;
    gap: 15px;
    margin-bottom: 50px;
}
